/* PAGE HEADER */

.home .header-wrapper { background: url(../images/home-header.jpg) top center no-repeat; }

.about .header-wrapper {
background: #333 url(../images/header.jpg) top center no-repeat;
}

.foxyshop .header-wrapper {
background: #333 url(../images/header.jpg) top center no-repeat;
height: 640px;
}



.course-payment-types .header-wrapper { background: url(../images/course-fees-header.jpg) top center no-repeat; }
.partners .header-wrapper { background: url(../images/partners-header.jpg) top center no-repeat; }
.academy-tv .header-wrapper { background: url(../images/tv-header.jpg) top center no-repeat;}


/* NEW HEADERS */
.ask-alison .header-wrapper,
.parent-pageid-1830 .header-wrapper,
.single-google-hangouts .header-wrapper,
.single-podcast .header-wrapper,
.single-wei-tv .header-wrapper
{
background: url(../images/ask-alison-hdr.jpg) top center no-repeat; 
}
.courses .header-wrapper {
background: url(../images/courses-header.jpg) top center no-repeat; 
}
.newsletter .header-wrapper { 
background: url(../images/headers/large-images/newsletter.jpg) top center no-repeat; 
}
.workshops .header-wrapper { 
background: url(../images/headers/large-images/workshop.jpg) top center no-repeat; } 

.wedbizpro .header-wrapper { 
background: url(../images/headers/large-images/wedbizpro.jpg) top center no-repeat;
} 
.wedding-planning-basics-course  .header-wrapper { 
background: url(../images/headers/large-images/wedding-planning.jpg) top center no-repeat; 
} 
.wedding-design-basics-course  .header-wrapper { 
background: url(../images/headers/large-images/wedding-course.jpg) top center no-repeat; 
} 
.wedding-business-basics-course .header-wrapper { 
background: url(../images/headers/large-images/wedding-business.jpg) top center no-repeat; 
} 
.wedding-professional-advanced-course .header-wrapper { 
background: url(../images/headers/large-images/wedding-course.jpg) top center no-repeat; 
} 

.faqs .header-wrapper { 
background: url(../images/headers/large-images/faq.jpg) top center no-repeat; 
}
.faqs2 .header-wrapper { 
background: url(../images/headers/large-images/faq2.jpg) top center no-repeat; 
} 
.contact .header-wrapper { 
background: url(../images/headers/large-images/contact.jpg) top center no-repeat; 
} 

.business-video-series .header-wrapper { 
background: url(../images/headers/large-images/business-video.jpg) top center no-repeat; 
} 

.accredited-special-event-designer-master-course .header-wrapper { 
background: url(../images/headers/large-images/asedm.jpg) top center no-repeat; 
} 

.coaching .header-wrapper  { 
background: url(../images/headers/large-images/coaching.jpg) top center no-repeat; 
} 

.cart .header-wrapper, .checkout .header-wrapper { background: url(../images/header-shop.jpg) top center no-repeat; }

 
.students .header-wrapper { background: url(../images/headers/large-images/student-praise.jpg) top center no-repeat; } 



.tutors .header-wrapper { background: url(../images/headers/large-images/tutors-header.jpg) top center no-repeat; } 

.success-stories .header-wrapper { background: url(../images/headers/large-images/success-stories-header.jpg) top center no-repeat; } 

.support .header-wrapper { background: url(../images/headers/large-images/support-header3.jpg) top center no-repeat; } 

.course-payment-types .header-wrapper {background: url(../images/headers/large-images/course-fees.jpg) top center no-repeat;}

.advisory-board .header-wrapper { background: url(../images/advsiory-header.jpg) top center no-repeat; }


.partners .header-wrapper { background: url(../images/partners-header2.jpg) top center no-repeat; } 


.student-of-the-month .header-wrapper { background: url(../images/student-month-header.jpg) top center no-repeat; } 


.accreditation .header-wrapper { background: url(../images/rsz_1pattern_1_uk.jpg) top center no-repeat; } 


.the-refine-workshop .header-wrapper, .the-refine-workshop-nace .header-wrapper { 
background: url(../images/headers/large-images/cwp.jpg) top center no-repeat; 
} 



.certification .header-wrapper { 
background: url(../images/headers/large-images/certification.jpg) top center no-repeat; 
} 

.educational-partners .header-wrapper { 
background: url(../images/headers/large-images/educational-partners.jpg) top center no-repeat; 
} 

.comparison-table .header-wrapper { 
background: url(../images/headers/large-images/comparison-table.jpg) top center no-repeat; 
}

.course-comparison .header-wrapper { 
background: url(../images/headers/large-images/comparison-table.jpg) top center no-repeat; 
}
.faqs .header-wrapper { 
background: url(../images/headers/large-images/faqs.jpg) top center no-repeat; 
}  

.recommended-conferences .header-wrapper ,  .approved-conferences .header-wrapper { 
background: url(../images/headers/large-images/recommended-conferences.jpg) top center no-repeat; 
}  

.success-stories .header-wrapper { 
background: url(../images/headers/large-images/success-stories.jpg) top center no-repeat; 
}  

.wedding-business-video-series .header-wrapper { 
background: url(../images/headers/large-images/business-video-series.jpg) top center no-repeat; 
}  

.email-coaching-with-alison-howard .header-wrapper { 
background: url(../images/headers/large-images/email-coaching.jpg) top center no-repeat; 
}  

.hourly-coaching-alison-howard .header-wrapper { 
background: url(../images/headers/large-images/hourly-coaching.jpg) top center no-repeat; 
}  

.the-alison-howard-mentor-program .header-wrapper { 
background: url(../images/headers/large-images/mentor-program.jpg) top center no-repeat; 
} 


.the-alison-howard-mentor-program .header-wrapper { 
background: url(../images/headers/large-images/mentor-program.jpg) top center no-repeat; 
} 

.courses-self-study .header-wrapper { 
background: url(../images/headers/large-images/self-study.jpg) top center no-repeat; 
} 


.courses-university .header-wrapper { 
background: url(../images/headers/large-images/universities.jpg) top center no-repeat; 
} 


.certification-courses  .header-wrapper{ 
background: url(../images/headers/large-images/certification-courses.jpg) top center no-repeat; 
} 

.event-planning-basics-course  .header-wrapper{ 
background: url(../images/headers/large-images/event-planner-basics.jpg) top center no-repeat; 
} 
.sepa-student-event-planners-association .header-wrapper{ 
background: url(../images/headers/large-images/sepa.jpg) top center no-repeat; 
} 

.pensylvania-state-university  .header-wrapper{ 
background: url(../images/headers/large-images/penn.jpg) top center no-repeat; 
} 

.south-western-career-academy .header-wrapper{ 
background: url(../images/headers/large-images/south-west.jpg) top center no-repeat; 
} 

.wedding-and-event-planning-design-and-business-course-2 .header-wrapper{ 
background: url(../images/headers/large-images/wedding-and-event-planning-design-and-business-course-2.jpg) top center no-repeat; 
} 

.wedding-planning-event-planning-business-course-2 .header-wrapper{ 
background: url(../images/headers/large-images/wedding-planning-event-planning-business-course-3.jpg) top center no-repeat; 
} 

.wedding-and-event-planning-design-and-business-course-2 .header-wrapper{ 
background: url(../images/headers/large-images/wedding-and-event-planning-design-and-business-course.jpg) top center no-repeat; 
} 


.wedding-planning-design-business-course .header-wrapper{ 
background: url(../images/headers/large-images/wedding-planning-design-business-course.jpg) top center no-repeat; 
} 