/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/


article > .medium-col {

   @media only screen and (min-width:320px) and (max-width:600px) { 
   width: 100%;
	}
     
}


.slider-feature .medium-col-wrap {


   margin-left: -15px

}

@media only screen and (min-width:320px) {
.navbar-nav {
margin: 7.5px 0;
}

.medium-col {
width: 80%;

}


main.container

{
margin: 0 auto;

}

.footer-wrap.container {
padding-left: 15px;
padding-right: 15px;
}



.social-links {
float: none;
margin: 20px auto 10px;
overflow: hidden;
padding: 0;
width: 194px;
}

form.search input {
width: 93%;
}

form.search {
margin: 10px 0 10px 0;
width: 100%;
display:none;
}

.site-links {
height: auto;
padding: 40px 0;
}

#mc_embed_signup input {
width: 100%;
}


#mc_embed_signup {
width: 87%;
}

#mc_embed_signup input[type="text"].form-control, 
#mc_embed_signup input[type="email"].form-control {
width: 100%;
margin-bottom: 10px
}


}





@media only screen and (min-width:480px) {


.listing {
width: 49%;
float: left;
}


.social-links {
float: right;
margin: 70px 0 0;
}


#mc_embed_signup {
width: 87%;
}

#mc_embed_signup input[type="text"].form-control, 
#mc_embed_signup input[type="email"].form-control 
 {
width: 100%;
margin-bottom: 10px
}

.logo {
width: 48%;
float: left;
}


.logo a {
width: 100%;
height: 72px;
background-size: cover;
}

}



@media only screen and (min-width:650px) {

}


@media only screen and (min-width:768px) {

form.search {
    display:none;
float: right;
border: none;
clear: right;
margin: 20px 0 0 0;
border: 1px solid #ccc;
width: auto;
}


form.search input {
width: auto;
}


#mc_embed_signup input[type="text"].form-control,
#mc_embed_signup input[type="email"].form-control  {
width: 47%;
}


.navbar-default .navbar-nav > li > a {
font-size: .8em;
}

.nav > li > a {
padding: 10px 4px;
}

.navbar-nav {
margin: 7.5px -15px;
}

}



@media only screen and (min-width:990px) {
		.listing {
		width: 33.33333333%
		}

		

		.nav > li > a {
		padding: 10px 12px;
		}

}


@media only screen and (min-width:990px) and (max-width:1199px) {
		.navbar-default .navbar-nav > li > a {
		font-size: .84em;
		}
}



@media only screen and (min-width:1024px) {

}





@media only screen and (min-width:1140px) {

}


@media only screen and (min-width:1200px) {


	.medium-col {
	width: 65%;
	}


	.navbar-default .navbar-nav > li > a {
	font-size: 1.023em;
	}



	.nav>li>a {
	padding: 10px 15px;
	}


}


@media only screen and (min-width:768px) and (max-width:990px) { 
			.navbar-default .navbar-nav > li > a {
			font-size: .867em;
			}

}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}


@media only screen and (min-width:320px) and (max-width:450px) { 
	.page-template-templatesblog-php aside.col-xs-6 {
		width: 100%;
	}

	.cta {
	margin: 20px 1.8% 0 0;
	}
}


@media only screen and (min-width:320px) and (max-width:767px) { 
		.navbar-default .navbar-nav > li > a {
		padding: 8px 0;
		}

}

.navbar-toggle {
margin-right: 10px;
margin-top: 4px;
}